/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

html, body {
	overflow-x: hidden;
  overflow-y: auto;
	width: 100%;
}

body {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 6em 4em 1em 4em;
}

	body > * {
		position: relative;
		z-index: 2;
	}

	body.is-loading *, body.is-loading *:before, body.is-loading *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	@media screen and (max-width: 1680px) {

		body {
			padding: 6em 3.5em 1em 3.5em;
		}

	}

	@media screen and (max-width: 736px) {

		body {
			padding: 5em 2em 1em 2em;
		}

	}

	@media screen and (max-width: 360px) {

		body {
			padding: 5em 1.25em 1em 2em;
		}

	}

/* Type */

body, input, select {
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.65em;
}

	@media screen and (max-width: 1680px) {

		body {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 1280px) {

		body {
			font-size: 11pt;
		}

	}

a {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
	color: #1cb495;
	text-decoration: none;
}

	a:hover {
		border-bottom-color: transparent;
		color: #1cb495 !important;
		text-decoration: none;
	}

strong, b {
	color: #fff;
	font-weight: 700;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

#email p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 1em 0;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

h1 {
	font-size: 2.5em;
  margin: 0;
}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.35em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

textarea {
  cursor: pointer;
  min-height: 100px;
  resize: none;
	font-size: 0.5em;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

/* Header */

#header h1 {
  font-size: 3em;
  margin: 0 0 0.55em 0;
}

#header p {
  font-size: 1em;
  line-height: 1.65em;
}

#header a {
  color: inherit;
}

@media screen and (max-width: 736px) {

  #header h1 {
    font-size: 2em;
  }

}

/* List */

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

	ul li {
		padding-left: 0.5em;
	}

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 2em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon:before {
				font-size: 2em;
			}

			ul.icons li a {
				color: inherit;
			}
